{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"}
]}.
{plugins, [
    rebar3_run,
    rebar3_auto
]}.
{relx, [{release, {cowboy_digest_auth, "1.0.0"}, [cowboy_digest_auth]},
        {dev_mode, true},
        {include_src, false},
        {system_libs, false},
        {include_erts, true},
        {extended_start_script, true}]}.
{shell, [
    {apps, [cowboy_digest_auth]}
]}.